
 
 <!-- about section starts  -->
 
 <section class="about">
 
    <div class="content">
       <h3 class="about-title">we have information about the best Medical Universities</h3>
       <p>One of the most challenging courses in the current world and pursuing medical education 
       requires a lot of diligence and perseverance. One should struggle to get through medical school.</p>
       <p>The constant need for studying and the overall pressure can make it difficult for students to stay focused and motivated all the time. However, it is entirely normal to feel demotivated as everyone in the field at some point in time experiences this situation. The profession constantly tries to test you, and it can get exhausting at times. </p>
       <div class="icons-container">
          <div class="icons">
             <img src="assets/images/about-icon-1.jpg" alt="">
          </div>
          <div class="icons">
             <img src="assets/images/about-icon-2.jpg" alt="">
          </div>
          <div class="icons">
             <img src="assets/images/about-icon-3.jpg" alt="">
          </div>
       </div>
    </div>
 
 </section>
 
 <!-- about section ends -->
 
