<h1>List Of Best Medical Colleges In India</h1>
<br>
<section class="colleges">

    <div class="box-container">
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-1.jpg" alt="">
             <h3>AIMSR</h3>
          </div>
          <div class="content">
             <h3>Apollo Institute of Medical Sciences and Reasearch,Hyderabad</h3>
             <p>MBBS,MD & MS available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-2.jpg" alt="">
             <h3>OMC</h3>
          </div>
          <div class="content">
             <h3>Osmania Medical College,Hyderabad</h3>
             <p>MBBS,MD,MS,DM & PGD available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-3.jpg" alt="">
             <h3>KAMSRC</h3>
          </div>
          <div class="content">
             <h3>Kamineni Academy of Medical Science and Reasearch,Hyderabad</h3>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, odit!</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-4.jpg" alt="">
             <h3>GMC</h3>
          </div>
          <div class="content">
             <h3>Gandhi Medical College,Hyderabad</h3>
             <p>MBBS,MD,MS & DM available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-5.jpg" alt="">
             <h3>KMC</h3>
          </div>
          <div class="content">
             <h3>Kakatiya Medical College,Warangal</h3>
             <p>MBBS,MD & MS available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-6.jpg" alt="">
             <h3>MMC</h3>
          </div>
          <div class="content">
             <h3>Mamatha Medical College,Khammam</h3>
             <p>MBBS,MD,MS,DM are available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-7.jpg" alt="">
             <h3>GITAM</h3>
          </div>
          <div class="content">
             <h3>GITAM Institute of Medical Sciences and Research,Visakhapatnam</h3>
             <p>MBBS available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-8.jpg" alt="">
             <h3>GMC</h3>
          </div>
          <div class="content">
             <h3>Guntur Medical College,Guntur</h3>
             <p>MBBS,MD,MS & DM are available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-9.jpg" alt="">
             <h3>SMC</h3>
          </div>
          <div class="content">
             <h3>Siddhartha Medical College, Vijayawada</h3>
             <p>MBBS,MD & MS are available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-10.jpg" alt="">
             <h3>SRM</h3>
          </div>
          <div class="content">
             <h3>SRM Medical College Hospital and Research Centre, Chennai </h3>
             <p>MBBS,MD,MS & DM are available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-11.jpg" alt="">
             <h3>AIIMS</h3>
          </div>
          <div class="content">
             <h3>All India Institute of Medical Sciences,Bhopal</h3>
             <p>MBBS,MD,MS & DM are available</p>
          </div>
       </div>
 
       <div class="box">
          <div class="image">
             <img src="assets/images/college-12.jpg" alt="">
             <h3>JIPMER</h3>
          </div>
          <div class="content">
             <h3>Jawaharlal Institute of Postgraduate Medical Education and Research,Puducherry</h3>
             <p>MBBS,MD,MS,PGD & DM are available</p>
          </div>
       </div>
 
    </div>
