.contact h1{
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    padding:10px;
    color: purple;
}
.contact .icons-container {
    margin-bottom: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
  }
  
  .contact .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
    border: 0.1rem solid purple;
    background: #f0fdfa;
  }
  
  .contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    color: #fff;
    background: purple;
  }
  
  .contact .icons-container .icons h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
  }
  
  .contact .icons-container .icons p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  
  .contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  
  .contact .row .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
  
  .contact .row .image img {
    width: 100%;
  }
  
  .contact .row form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    border: 0.1rem solid purple;
    padding: 2rem;
  }
  
  .contact .row form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    padding-bottom: 1rem;
    color: purple;
    text-decoration: underline;
  }
  
  .contact .row form .box {
    width: 95%;
    padding: 1.2rem;
    border: 0.1rem solid purple;
    font-size: 1.5rem;
    margin: .5rem 0;
  }
  
  .contact .row form .box:focus {
    background: purple;
    color: #fff;
  }
  
  .contact .row form .box:focus::-webkit-input-placeholder {
    color: #eee;
  }
  
  .contact .row form .box:focus:-ms-input-placeholder {
    color: #eee;
  }
  
  .contact .row form .box:focus::-ms-input-placeholder {
    color: #eee;
  }
  
  .contact .row form .box:focus::placeholder {
    color: #eee;
  }
  
  .contact .row form textarea {
    height: 15rem;
    resize: none;
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid purple;
    background: #f0fdfa;
    color: blueviolet;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .btn:hover {
    background: blueviolet;
    color: #fff;
  }
  
  .faq h1{
    font-size: 2.5rem;
    text-align: center;
    color:purple;
    text-decoration: underline;
    text-transform: capitalize;
  }
  .faq .accordion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .faq .accordion-container .accordion {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
    border: 0.1rem solid purple;
  }
  
  .faq .accordion-container .accordion.active .accordion-heading {
    background: purple;
  }

  .faq .accordion-container .accordion.active:hover .accordion-heading {
    background: blueviolet;
  }
  
  .faq .accordion-container .accordion.active .accordion-heading h3 {
    color: #fff;
  }
  
  .faq .accordion-container .accordion.active .accordion-heading i {
    color: #fff;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .faq .accordion-container .accordion.active .accordion-content {
    display: block;
  }
  
  .faq .accordion-container .accordion .accordion-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    padding: 1.5rem;
  }
  
  .faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
  }
  
  .faq .accordion-container .accordion .accordion-heading i {
    font-size: 2rem;
    color: purple;
  }
  
  .faq .accordion-container .accordion .accordion-content {
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    border-top: 0.1rem solid purple;
    display: none;
  }