<br>
<!-- home section starts  -->

<section class="home">

   <section class="swiper-slide slide" style="background: url(assets/images/home.webp) no-repeat;">
      <div class="content">
         <h3>the best medical colleges you will find here!</h3>
         <a href="#" class="btn">get started</a>
      </div>
   </section>

</section>

<!-- home section ends -->

<!-- branch section starts  -->

<section class="branches">

<h1 class="heading">our popular branches</h1>

<div class="box-container">

<div class="box">
   <img src="assets/images/subject-icon-1.jpg" alt="">
   <h3>general medicine</h3>
</div>

<div class="box">
   <img src="assets/images/subject-icon-2.jpg" alt="">
   <h3>orthopedics</h3>
</div>

<div class="box">
   <img src="assets/images/subject-icon-3.png" alt="">
   <h3>pediatrics</h3>
</div>

<div class="box">
   <img src="assets/images/subject-icon-4.png" alt="">
   <h3>general surgery</h3>
</div>

<div class="box">
   <img src="assets/images/subject-icon-5.png" alt="">
   <h3>OBGYN</h3>
</div>

<div class="box">
   <img src="assets/images/subject-icon-6.jpg" alt="">
   <h3>radiology</h3>
</div>

</div>

</section>

<!-- branches section ends -->

<!-- home degrees section starts  -->

<section class="degrees">

<h1 class="heading">our college degrees</h1>

<div class="box-container">

<div class="box">
   <h3>M.B.B.S</h3>
   <p>Bachelor of Medicine & Bachelor of Surgery</p>
</div>

<div class="box">
   <h3>M.D</h3>
   <p>Doctor of Medicine</p>
</div>

<div class="box">
   <h3>M.S</h3>
   <p>Master of Surgery</p>
</div>

<div class="box">
   <h3>D.M</h3>
   <p>Doctorate of Medicine</p>
</div>

<div class="box">
   <h3>P.G.D</h3>
   <p>Postgraduate Diploma in Medical Law & Ethics</p>
</div>

</div>

</section>

<!-- home degrees section ends -->

<!-- footer section starts  -->

<section class="footer">

<div class="box-container">

<div class="box">
   <h3> <i class="fas fa-graduation-cap"></i> achievers360 </h3>
   <p></p>
   <div class="share">
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-instagram"></a>
      <a href="#" class="fab fa-linkedin"></a>
   </div>
</div>

<div class="box">
   <h3>quick links</h3>
   <a href="home" class="link">home</a>
   <a href="about" class="link">about</a>
   <a href="colleges" class="link">colleges</a>
   <a href="courses" class="link">courses</a>
   <a href="contact" class="link">contact</a>
</div>

<div class="box">
   <h3>For More Details!</h3>
   <p>subscribe for latest upadates</p>
   <form action="">
      <input type="email" name="" placeholder="enter your email" id="" class="email">
      <input type="submit" value="subscribe" class="btn">
   </form>
</div>

</div>

</section>

<!-- footer section ends -->
